html,
body {
  margin: 0;
  overflow: visible;
  background: rgb(40, 109, 199);
  font-size: 14px;
  max-width: 100vw;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
li,
p {
  margin: 0 0 0.5rem 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

h1 a,
h2 a,
h3 a,
li a,
p a {
  margin: 0 0 0.5rem 0;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
  font-weight: bold;
}

p,
li {
  font-size: 1.2rem;
}

@keyframes shake {
  0% {
    opacity: 0.75;
    transform: translateZ(0);
  }
  10%,
  90% {
    transform: rotate(-10deg);
    transform: translateZ(0);
  }

  20%,
  80% {
    transform: rotate(12deg);
    transform: translateZ(0);
  }

  30%,
  50%,
  70% {
    transform: rotate(-4deg);
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: rotate(10deg);
    transform: translateZ(0);
  }
  100% {
    opacity: 0;
    transform: translateZ(0);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%) translatez(0);
  }
  100% {
    transform: scale(1) translateY(0) translatez(0);
    opacity: 1;
  }
}

@keyframes stepIntoAWorld {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app {
  position: relative;
}

.button,
.select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1em;
  margin-right: 1rem;
}

.button:last-child,
.select:last-child {
  margin-right: 0;
}

.layout {
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
}

.header {
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-bottom: 0.5rem solid transparent;
  z-index: 3;
}

.grid-outer {
  padding: 3rem;
  box-sizing: content-box;
  transform-origin: 0% 0%;
  padding: 3rem;
}

@keyframes waves {
  0% {
    background-size: 100% 100%;
    transform: translateZ(0);
  }
  100% {
    background-size: 50% 50%;
    transform: translateZ(0);
  }
}

@keyframes shore {
  0% {
    filter: drop-shadow(0 0 3rem rgba(159, 222, 252, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 3rem rgba(159, 222, 252, 0.8));
  }
}

.grid-outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  animation: shore 5s infinite;
}

.grid {
  position: relative;
  transform-origin: 0% 0%;
  box-sizing: content-box;
  border-radius: 3rem;
  clip-path: url('#wave1');
  background: radial-gradient(
    circle,
    rgb(233, 159, 62) 30%,
    rgba(255, 227, 136, 1) 40%,
    rgba(84, 186, 233, 0.8) 100%
  );
  background-size: 150%;
  background-position-x: 50%;
  background-position-y: 50%;
  user-select: none;
  padding: 15%;
  animation: stepIntoAWorld 2s;
}

.grid-outer:before,
.grid-outer:after {
  background: radial-gradient(
    #1e579946 0%,
    #8fb5d369 7%,
    #2989d879 14%,
    #61a0d385 19%,
    #3c90d179 24%,
    #83afd381 30%,
    #0c7bd662 38%,
    #8bb3d371 44%,
    #0c7bd67c 48%,
    #0c7bd67e 54%,
    #0c7bd67e 58%,
    #81aed373 61%,
    #0c7bd675 64%,
    #669cc97e 73%,
    #207bca79 78%,
    #0c7bd675 82%,
    #a3b8c96e 85%,
    #0c7bd677 93%,
    #7dbae871 100%
  );
  display: block;
  content: ' ';
  position: absolute;
  top: -50rem;
  left: -50rem;
  bottom: -50em;
  right: -50rem;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 50%;
}

.grid-outer:before {
  animation: waves 10s ease-in-out 0s infinite;
}

.grid-outer:after {
  animation: waves 8s ease-in-out 1s infinite;
}

.grid-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(165, 128, 79, 0.459);
  box-shadow: 0 0 2rem rgb(226, 157, 68);
  border-radius: 3rem;
  z-index: 1;
}

.grid-inner:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3rem;
  transform-origin: 50% 50%;
  background-color: rgba(165, 128, 79, 0.459);
  content: ' ';
  filter: blur(2rem);
}

.grid .square-button {
  display: block;
  position: absolute;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
  box-sizing: border-box;
}

.grid .square {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
}

.square-exit .square {
  opacity: 0;
}

.square-enter-active .square {
  animation-name: scaleIn;
  animation-duration: 0.5s;
}

.square-exit-active .square {
  animation-name: shake;
  animation-duration: 1s;
  z-index: 2;
  transform-origin: 50% 100%;
}

.grid .square:hover,
.grid .square:focus {
  filter: drop-shadow(0px 0px 3px #ccc);
  cursor: pointer;
}

.log {
  position: absolute;
  width: 400px;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: 3;
}

.log li {
  list-style: none;
}

@media only screen and (max-width: 1000px) {
  .log {
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .grid-outer {
    padding: 1.5rem 0;
  }
}

@media only screen and (min-resolution: 200dpi) {
  .button,
  .select {
    padding: 1.5rem;
  }
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 5rem;
  }
  p,
  li {
    font-size: 3rem;
  }
}
