html,
body {
  margin: 0;
  overflow: visible;
  background: rgb(40, 109, 199);
  font-size: 14px;
}

h1,
h2,
h3,
li,
p {
  margin: 0 0 0.5rem 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

h1 a,
h2 a,
h3 a,
li a,
p a {
  margin: 0 0 0.5rem 0;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
}

p,
li {
  font-size: 0.75em;
}

@keyframes shake {
  0% {
    opacity: 0.75;
  }
  10%,
  90% {
    transform: rotate(-10deg);
  }

  20%,
  80% {
    transform: rotate(12deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-4deg);
  }

  40%,
  60% {
    tran4sform: rotate(10deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes stepIntoAWorld {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button,
.select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1em;
}

.layout {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-bottom: 0.5rem solid rgb(19, 51, 94);
}

.grid {
  transform-origin: 0% 0%;
  box-sizing: content-box;
  border-radius: 2rem;
  border: 0.5rem solid rgb(219, 197, 100);
  background-color: rgb(146, 101, 42);
  padding: 2rem;
  user-select: none;
  animation: stepIntoAWorld 2s;
}

.grid:before {
  filter: blur(1rem);
  border: 3rem solid rgba(84, 186, 233, 0.65);
  background-color: rgba(99, 96, 96, 0.5);
  display: block;
  content: ' ';
  position: absolute;
  top: -3rem;
  left: -3rem;
  bottom: -3rem;
  right: -3rem;
  border-radius: 3rem;
  z-index: -1;
}

.grid:after {
  filter: blur(2rem);
  border: 3rem solid rgba(45, 112, 143, 0.8);
  display: block;
  content: ' ';
  position: absolute;
  top: -5.5rem;
  left: -5.5rem;
  bottom: -5.5rem;
  right: -5.5rem;
  border-radius: 3rem;
  z-index: -1;
}

.grid-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 100%;
}

.grid .square-button {
  display: block;
  position: absolute;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
  box-sizing: border-box;
}

.grid .square {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
}

.square-exit .square {
  opacity: 0;
}

.square-enter-active .square {
  animation-name: scaleIn;
  animation-duration: 0.5s;
}

.square-exit-active .square {
  animation-name: shake;
  animation-duration: 1s;
  z-index: 2;
  transform-origin: 50% 100%;
}

.grid .square:hover,
.grid .square:focus {
  filter: drop-shadow(0px 0px 3px #ccc);
  cursor: pointer;
}

.log {
  width: 400px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

.log li {
  list-style: none;
}

@media only screen and (max-width: 1000px) {
  .log {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3rem;
  }
  h2,
  h3,
  p,
  li {
    font-size: 2em;
  }
}
